@font-face {
  font-family: 'Lobster-Regular';
  src: url('../fonts/Lobster-Regular.eot');
  src: url('../fonts/Lobster-Regular.woff2') format('woff2'),
       url('../fonts/Lobster-Regular.woff') format('woff'),
       url('../fonts/Lobster-Regular.ttf') format('truetype'),
       url('../fonts/Lobster-Regular.svg#Lobster-Regular') format('svg'),
       url('../fonts/Lobster-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'ComfortaaBold';
    src: url('../fonts/ComfortaaBold.eot');
    src: url('../fonts/ComfortaaBold.eot') format('embedded-opentype'),
         url('../fonts/ComfortaaBold.woff2') format('woff2'),
         url('../fonts/ComfortaaBold.woff') format('woff'),
         url('../fonts/ComfortaaBold.ttf') format('truetype'),
         url('../fonts/ComfortaaBold.svg#ComfortaaBold') format('svg');
}
@font-face {
    font-family: 'ComfortaaLight';
    src: url('../fonts/ComfortaaLight.eot');
    src: url('../fonts/ComfortaaLight.eot') format('embedded-opentype'),
         url('../fonts/ComfortaaLight.woff2') format('woff2'),
         url('../fonts/ComfortaaLight.woff') format('woff'),
         url('../fonts/ComfortaaLight.ttf') format('truetype'),
         url('../fonts/ComfortaaLight.svg#ComfortaaLight') format('svg');
}
@font-face {
    font-family: 'ComfortaaRegular';
    src: url('../fonts/ComfortaaRegular.eot');
    src: url('../fonts/ComfortaaRegular.eot') format('embedded-opentype'),
         url('../fonts/ComfortaaRegular.woff2') format('woff2'),
         url('../fonts/ComfortaaRegular.woff') format('woff'),
         url('../fonts/ComfortaaRegular.ttf') format('truetype'),
         url('../fonts/ComfortaaRegular.svg#ComfortaaRegular') format('svg');
}

*
	margin 0
	padding 0
	outline 0
	box-sizing border-box
body
	font-size 16px 
.clfix
    clear: both
@import 'parts/first_section'
@import 'parts/mail_section'
@import 'parts/second_section'
@import 'parts/third_section'
@import 'parts/fourth_section'