#fifth_section
    background-image: url(../img/fourth_screen_back.jpg)
    background-position: center top
    background-repeat: repeat-x
    background-size: contain
    width 100%
    padding: 250px 0
    overflow: hidden
    h3
        font-size: 45px;
        font-family: "Lobster";
        color: rgb(255, 255, 255);
        line-height: 1
        text-align: center;
        margin 0 0 50px
.carousel-indicators .active
    background-color: #337f32
.carousel-indicators li
    border-color #337f32
#text_testimonials
    padding 0 10px
    .item
        height 500px
        .carousel-caption
            width: 100%;
            text-align: left;
            left: 0;
            right: 0;
            padding: 0 10px;
            top: 20px;
        p
            clear: both
            font-size: 14px;
            font-family: "Comfortaa";
            color: rgb(255, 255, 255);
            line-height: 1.3;
            text-align: left;
.testimonial_photo 
    float: left
    margin 0 30px 20px 0
.testimonial_photo+h5
    font-size: 20px;
    font-family: "Lobster";
    color: rgb(255, 255, 255);
    line-height: 1.25;
    text-align: left;
    margin: 33px 0 0 0