#footer
    background-color: #ffffff
    width: 100%
    padding: 0 0 40px
    font-size: 14px;
    font-family: "Comfortaa";
    color: rgb(42, 39, 39);
    line-height: 1
    text-align: center;
    margin-top: -50px;
#myModalForm
    .modal-body
        background-image: url("../img/third_screen_back.jpg");
        background-position: center;
        background-repeat: repeat-x;
        background-size: cover;
        padding: 60px 0
        .close
            color: #ffffff
            font-size: 34px;
#myModalForm form
    width: 80%
    margin: 0 auto
#myModalForm h3
    font-size: 27px;
    font-family: "Lobster";
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0 0 20px
    line-height: 1
#myModalForm p
    font-size: 18px;
    font-family: "Comfortaa";
    color: #fff;
    text-align: center;
    line-height: 1;
    margin: 0 0 20px
#myModalForm input
    margin-bottom: 20px