#mail_section
    background-image: url(../img/band_back.jpg)
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    width 100%
    padding: 28px 0
    overflow: hidden
    .col-md-3
        height: 50px
        display: flex
        align-items: center
        justify-content: center
        h3
            font-size: 27px;
            font-family: "Lobster";
            color: rgb(255, 255, 255);
            text-align: left;
            margin: 0
            line-height: 1
            align-self: flex-end
        p
            font-size: 18px;
            font-family: "Comfortaa";
            color: rgb(255, 255, 255);
            text-align: left;
            line-height: 1
            margin: 0
        .infront_submit,
        .span_phone
            font-size: 15px
.email-block input,
.phone-block input
    width 100%
    height: 48px
    padding: 15px
    border 1px solid rgb(123, 123, 123);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: inset 0px 0px 8.55px 0.45px rgba(0, 0, 0, 0.39);
    font-size: 16px;
    font-family: "Comfortaa";
    color: rgba(29, 28, 24, 0.702);
    line-height: 1.3
    text-align: left;
.button
    display: block
    border: 1px solid rgb(30, 73, 29)
    border-radius: 5px;
    background-image: url(../img/button.png)
    background-repeat: no-repeat
    background-size: cover
    width 100%
    height: 50px;
    font-size: 24px;
    font-family: "Lobster";
    color: rgb(255, 255, 255);
    line-height: 1.375;
    text-align: center;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.75);
    transition: background-position .4s ease
    &:hover
        background-image: url(../img/button_hover.png)
        transition: background-position .4s ease