#second_section
    background-image: url(../img/second_screen_back.jpg)
    background-position: center top
    background-repeat: no-repeat
    background-size: contain
    width 100%
    padding: 100px 0
    overflow: hidden
    h3
        font-size: 45px;
        font-family: "Lobster";
        color: rgb(36, 35, 34);
        line-height: 1;
        text-align: center
        margin: 0 0 70px
    .row:first-child
        margin-bottom: 55px
    .button
        width: 262px;
        margin: 40px auto 0

.red,
.green
    display: table
    background-repeat: no-repeat
    background-position: center top
    height: 263px
.green
    background-image: url(../img/green_toy.png)
.red
    background-image: url(../img/red_toy.png)
.red p,
.green p 
    display: table-cell
    vertical-align: middle
    font-size: 16px;
    font-family: "Comfortaa";
    color: rgb(36, 35, 34);
    font-weight: bold;
    line-height: 1.4;
    text-align: center;
    width: 325px;
    height: 63px;