<!DOCTYPE html>
html(lang="ru")
head
	meta(charset="UTF-8")
	title Рождественские ритуалы | София Вюрстлин
	link(rel="stylesheet" href="css/bootstrap.min.css")
	link(rel="stylesheet" href="css/styles.css")
body
	include pug/first_section
	include pug/mail_section
	include pug/second_section
	include pug/third_section
	include pug/fourth_section
	include pug/fifth_section
	include pug/footer
	script(src="js/html5.js")
	script(src="js/jquery.min.js")
	script(src="js/bootstrap.min.js")
	script(src="js/scripts.js")
	iframe(name="results" style="display:none;")