section#first_section
	.container
		include header
		p.h_prev Открытый онлайн-вебинар
		h1 «Рождественские ритуалы на богатство и любовь»
		h2 от Софии Вюрстлин
		.col-md-6
			.video_wrapper
				iframe(src="https://www.youtube.com/embed/nrNzFWZOfAI?rel=0&autoplay=0" allowfullscreen)
		img(id="sophia" src="img/sophia.png", alt="София Вюрстлин")