section#fourth_section
    .container
        h3 О тренере
        .col-md-5
            img(src="img/sophia_about_photo.jpg", alt="София" id="sohia_about")
        .col-md-1
        .col-md-6
            h4 София Вюрстлин
            ul#ul_about
                li Более 30 лет мастер Таро;
                li Преподаватель парапсихологии и психологического Таро консультирования в школе альтернативной медицины ”Qadromedica” в Штутгарде в Германии;
                li Руководительница НеСоакадемии. Эксперт по межличностным отношениям;
                li Практикующий парапсихолог и Мастер Рейки;
                li Семейные расстановки (по Берту Хеллингеру);
                li Расстановки по Таро (авторская методика);
                li Эксперт межличностных взаимоотношений, НЛП-практик отношений в семье, создатель клуба «Просто счастливая женщина»;
                li Интернациональный квалифицированный системный бизнес-коуч (ICA);
                li Обожаемая жена, любящая мама и очень счастливая Женщина
        .clfix
        a(href="#" target="_blank" class="button") Партнерская программа