img(id="date_ball" src="img/ball_w_text.png", alt="18 декабря в 19:00 мск")
img(id="logo" src="img/logo.png" alt="Логотип")
#contacts
	a(href="callto:8-499-346-79-46") 8-499-346-79-46
	a(href="skype:add?admin-mastervision") admin-mastervision
	a(href="mailto:info@mastervision.su") info@mastervision.su
.clfix