section#second_section
    .container
        h3 Для кого вебинар?
        .row
            .col-md-4
                .red
                    p Для тех, кто готов узнать как избавиться от суеты проблем
            .col-md-4
                .green
                    p Для тех, кто готов действовать во имя своего счастья и счастья своих детей 
            .col-md-4
                .red
                    p Для тех, кто верит , что в мире есть СИЛА , способная помочь человеку реализовать желаемое 
        .row
            .col-md-4
                .green
                    p Для тех, кто готов соединиться с этой силой с помощью карт Таро 
            .col-md-4
                .red
                    p Для тех, кто готов получить дополнительные ресурсы от Вселенной для прохождения своего пути жизни  
            .col-md-4
                .green
                    p Для тех ,кто ставит цели и хочет получить результат, достигать успеха быстрее и легче
        button.button Участвовать
