section#third_section
	.container
		h3 На открытом вебинаре Вы узнаете:
		ul.row
			li.col-md-4 Как поправить здоровье вашего рода 
			li.col-md-4 Что нужно, чтобы укрепить собственное здоровье 
			li.col-md-4 О ритуале на привлечение, сохранение и принятие денег
		ul.row
			li.col-md-4 Kак  укрепить партнерскую энергию и привлечь партнера
			li.col-md-4 О понятии и  улучшении женской и мужской доли
			li.col-md-4 Для чего необходим ритуал для вхождения в магическую силу
		ul.row
			li.col-md-4 Очищение от негативных программ рода
			li.col-md-4 Узнаете о замене родовых программ
			li.col-md-4 Что такое инициация в энергии Таро
		#about_veb
			p На этом вебинаре я расскажу Вам о предстоящей встрече в Москве, в период Рождественских каникул. Мы поговорим о  магии Святок, благодаря которой Вы сможете воплощать свои заветные мечты, реализовать желания и управлять судьбой, как по мановению волшебной палочки. Вы также узнаете о том, как притянуть в свою жизнь и навсегда оставить рядом Любовь, Богатство, Удачу и Счастье. 
			button.button Участвовать
